body {
    margin: 8px;
    display: block;
}

#mainHeading {
    color:red
}

.funParagraph {
    color: green
}

img {
    width: 500px;
    height: 500px;
    object-fit: cover;
}

figcaption {
    font-style: italic;
}